@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap');

.Reading_articleMain{
    position: relative;
    font-size: 1rem;
    width: 100%;
    height: fit-content;
    /*border: 2px solid black;*/
}

.Reading_articleHead{
    position: relative;
    width: min(100%,40em);
    margin: auto;
    /*border: 2px solid black;*/
}

.Reading_articleTags{
    position: relative;
    width: 100%;
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 2em;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 0.8em;
}

.Reading_articleTags > *{
    margin-right: 2em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.Reading_articleTags > *:hover{
    color: rgba(0, 0, 0, 1);
}

.Reading_articleHeading{
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 2.7em;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: black;
    margin-block: 0.1em;
}

.Reading_articleInfo{
    position: relative;
    width: 100%;
    height: 2em;
    display: flex;
    /*border: 2px solid black;*/
    align-items: center;
    justify-content: flex-start;
}

.Reading_articleInfo > *{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Reading_articleAuthor{
    width: fit-content;
    /*border: 2px solid black;*/
    font-family: 'Roboto Mono', monospace;
    font-size: 0.86em;
    font-weight: 900;
    color: rgba(10, 30, 100, 1);
    cursor: pointer;
    margin-right: 3em;
}

.Reading_authorSVG{
    position: relative;
    height: 100%;
    width: 2em;
    /*border: 2px solid black;*/
    display: flex;
    justify-content: center;
    justify-self: flex-start;
    align-items: center;
}

.Reading_authorSVG img{
    position: relative;
    /*border: 2px solid black;*/
}

.Reading_articleDate{
    position: relative;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 800;
    font-size: 0.8em;
}

.Reading_articleImage{
    position: relative;
    width: min(100%,70em);
    margin: auto;
    /*border: 2px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2em;
}

.Reading_articleImage img{
    position: relative;
    width: 90%;
}

.Reading_articleBody{
    position: relative;
    width: min(100%,40em);
    margin: auto;
    font-family: 'Aleo', serif;
    letter-spacing: 0.5px;
    font-weight: 800;
    font-size: 1em;
    line-height: 2.2em;
    color: black;
    /*border: 2px solid black;*/
}

@media only screen and (max-width:772px){
    .Reading_articleMain{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 582px){
    .Reading_articleHead,.Reading_articleBody{
        padding-inline: 1em;
    }
}